@{
    ViewBag.Title = "Honan Claims - Dashboard";
}
<div class="content-wrapper">
    <h3>
        Dashboard
    </h3>
    <div class="row">
        <div class="text-center mv-lg">
            <h1 class="mb-lg">
                <sup><em class="fa fa-cog fa-2x text-muted fa-spin text-info"></em></sup>
                <em class="fa fa-cog fa-5x text-muted fa-spin text-purple"></em>
                <em class="fa fa-cog fa-lg text-muted fa-spin text-success"></em>
            </h1>
            <div class="text-bold text-lg mb-lg">DASHBOARD WILL BE HERE SOON</div>
            <p class="lead m0">Expect Many More...</p>
        </div>
    </div>


</div>

<div>

</div>

