
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Claim List</h2>
<div>
    <div id="grid1"></div>
</div>
<script>
    $(document).ready(function () {




    });
</script>