
@{
    ViewBag.Title = "AdminList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="row mb-15">
        <div class="col-md-12">
            <div class="page-title">
                <h3>Protal Login Accounts</h3>
            </div>
            <div class="search-box">
                <div class="input-group mt-20">
                    <input type="text" class="form-control" id="searchbox" placeholder="Search for">
                    <span class="input-group-addon pointer" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
                @*<input class="form-control search-box" type="text" id="searchbox" placeholder="Search for" />*@
            </div>
            <div class="create-btn">
                <div class="pull-right mt-20">
                    <button type="submit" id="btnCreateNewContact" class="btn btn-primary">Add New Account</button>
                </div>
            </div>
        </div>
    </div>

    <div id="ProtalLogingAccountGrid"></div>
    <br />
    <h3 class="mb-15">New Protal Loging Request</h3>
    <div id="NewProtalLogingRequestGrid"></div>
</div>

<script>
    $(document).ready(function () {

        $("#btnCreateNewContact").click(function () {
            window.location.replace('@Url.Action("AdminDetail", "AdminList", new { id = "" })');
        });

        $("#searchbox").keyup(function () {
            var val = $('#searchbox').val();
            $("#ProtalLogingAccountGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "PortalAccountName",
                        operator: "contains",
                        value: val,
                    },
                    {
                        field: "Account_Name",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "Billing_Method",
                        operator: "contains",
                        value: val
                    }

                ]
            });

        });

        //NewProtalLogingRequestGrid data bindings - Start
        $("#ProtalLogingAccountGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/AdminList/GetProtalLogingAccount/",
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                },
                batch: false,
            },
            filterable: true,
            pageSize: 10,
            navigatable: true,
            pageable: true,
            height: 350,
            columns: [
                {
                    field: "PortalAccountName",
                    title: "Portal Account Name",
                    template: "<a href='/AdminList/AdminDetail?adminId=#= H_CustomerPortalAdminId #'>#= PortalAccountName #</a>",
                },
                {
                    field: "Account_Name",
                    title: "Customer Account"
                },
                {
                    field: "ActiveLogins",
                    title: "# Active Logins"
                },
                {
                    field: "Billing_Method",
                    title: "Billing Method"
                },
                {
                    field: "CanAddClaims",
                    title: "Add Claims?",
                    template: "#if(CanAddClaims === true){# Yes #}else if(CanAddClaims === false){# No #} else{# #= 'N/A' #  #}#"
                },
                 {
                     field: "LastLogin",
                     title: "Last Login Date",
                     template: "#if(LastLogin === null){# N/A #}else{# #= kendo.toString(kendo.parseDate(LastLogin), 'dd-MM-yyyy') #  #}#"
                 },
            ]
        });
        //ProtalLogingAccountGrid data bindings - End


        //NewProtalLogingRequestGrid data bindings - Start
        $("#NewProtalLogingRequestGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/AdminList/GetNewProtalLogingRequest/",
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                },
                batch: false,
            },
            filterable: true,
            pageSize: 10,
            navigatable: true,
            pageable: true,
            height: 350,
            columns: [
                {
                    field: "Company",
                    title: "Company"
                },
                {
                    field: "FirstName",
                    title: "First Name",
                    template: "<a href='/AdminList/TeamGetPortalRegistration?portalRegRequestId=#= keyId #'>#= FirstName #</a>",
                },
                {
                    field: "LastName",
                    title: "Last Name",
                    template: "<a href='/AdminList/TeamGetPortalRegistration?portalRegRequestId=#= keyId #'>#= LastName #</a>",
                },
                {
                    field: "Phone",
                    title: "Phone"
                },
                {
                    field: "EmailAddress",
                    title: "Email"
                },
                 //{
                 //    field: "LastLogin",
                 //    title: "Last Login Date",
                 //    template: "#if(LastLogin === null){# N/A #}else{# #= kendo.toString(kendo.parseDate(LastLogin), 'dd-MM-yyyy') #  #}#"
                 //},
            ]
        });
        //NewProtalLogingRequestGrid data bindings - End

    });

</script>