

<script src="~/Content/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Content/vendor/datatables-colvis/js/dataTables.colVis.js"></script>
<script src="~/Content/vendor/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Content/vendor/datatables-buttons/js/dataTables.buttons.js"></script>
<script src="~/Content/vendor/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="~/Content/vendor/datatables-responsive/js/responsive.bootstrap.js"></script>
@*<link href="~/Content/vendor/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" />*@

<style>
    table.dataTable thead .sorting {
        background: url('/Content/vendor/datatables/media/images/sort_both.png') no-repeat center right;
    }

    table.dataTable thead .sorting_asc {
        background: url('/Content/vendor/datatables/media/images/sort_asc.png') no-repeat center right;
    }

    table.dataTable thead .sorting_desc {
        background: url('/Content/vendor/datatables/media/images/sort_desc.png') no-repeat center right;
    }

    table.dataTable thead .sorting_asc_disabled {
        background: url('/Content/vendor/datatables/media/images/sort_asc_disabled.png') no-repeat center right;
    }

    table.dataTable thead .sorting_desc_disabled {
        background: url('/Content/vendor/datatables/media/images/sort_asc_disabled.png') no-repeat center right;
    }

    .dataTables_filter {
        margin-top: 10px !important;
    }
</style>

<div class="panel panel-default">

    <div class="table-responsive">
        <table id="tbAccountBroker" class="table table-striped" style="margin-bottom: 10px;">
            <thead>
                <tr>
                    <th class="sort-alpha">Account Id</th>
                    <th class="sort-alpha">Account Name</th>
                    <th class="sort-alpha">Account Type</th>
                    <th class="sort-alpha">Account Manager</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#tbAccountBroker").hide();

        $('#tbAccountBroker').dataTable({
            "bServerSide": true,
            "searching": true,
            "sAjaxSource": "/Lookup/BrokerAjaxHandler",
            "paging": false,
            "bProcessing": false,
            "bsearch": false,
            "scrollY": '40vh',
            'info':false,
            "aoColumns": [

                { "sName": "AccountId", "visible": false },
                {
                    "sName": "AccountName",
                    "sClass": "center",
                    "mRender": function (data, type, oObj) {
                        return '<a href="javascript:void(0);" onclick="closeAccountBrokerModal(\'' + oObj[0] + '\', \'' + oObj[1] + '\')">' + oObj[1] + '</a >';
                        //return "<a  onclick='closeOcModal(this);' href='#/'  return false;>" + oObj[1]+"</a>";
                    }
                },
                { "sName": "AccountType" },
                { "sName": "AccountManager" },
                { "sName": "BillingMethod", "visible": false }
            ]
        });

        $('#tbAccountBroker').on('search.dt', function () {
               //var value = $('.dataTables_filter input').val();
               //console.log(value); // <-- the value
            $("#tbAccountBroker").show();
           });

    });


    function closeAccountBrokerModal(ocNum, ocName) {
       
        $("#Broker_Account").val(ocName);

        if ($("#Broker_Account_Id").length > 0)
        {
            $("#Broker_Account_Id").val(ocNum);
        }

        $("#Broker_Name").val("");
        $("#Broker_Name_Id").val("");
        

        $('#AccountBrokerModal').modal('toggle');
    }

</script>