@model  HonanClaimsWebApi.Models.Claim.BillingTabModel

<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-md-12">
         <div class="col-md-3">
                <div class="form-group mb">
                    <label class=" control-label input-sm">Service By: </label>
                    <div>
                        @Html.DropDownListFor(m => m.ServiceBy,
                            new SelectList(Model.ServiceBy, "Code", "Text"),
                            "--Select--",
                            new { @class = "form-control", @onchange = "comboChange()" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb">
                    <label class="control-label input-sm">Service Date From: </label>
                    <div>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb">
                    <label class="control-label input-sm">Invoiced: </label>
                    <div>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb">
                    <div class="col-sm-6" style="padding-top:12%">
                        <input type="button" class="btn btn-default" value="Clear Filters" />
                    </div>
                    <div class="col-sm-6" style="padding-top:12%">
                        <input type="button" class="btn btn-primary" value="Filter Billables" />
                    </div>
                </div>
            </div>
            </div>

        <br />
        
        <div class="col-md-12">

            <div class="col-md-3">
                <div class="radioset-1">
                    <div class="radio">
                        <label><input type="radio" id="rdoBillable" value="true" name="rdoBill">Billable</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" id="rdoNonBillable" value="false" name="rdoBill">Non Billable</label>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group mb">
                    <label class="control-label input-sm">Service Date To: </label>
                    <div>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb">
                    <label class="control-label input-sm">Invoice #: </label>
                    <div>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb">
                    <label class="control-label input-sm">Total Qty (Mins): </label>
                    <div>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
            </div>

            </div>
    </div>
</div>
