
@{ var userObj = Session[HonanClaimsPortal.Helpers.SessionHelper.claimTeamLogin] as HonanClaimsWebApiAccess1.LoginServices.ClaimTeamLoginModel; }

<style>
    .k-upload.k-header {
        width: 50%
    }
</style>


<div class="panel panel-default">

    <div class="panel-body">
        <input type="file" name="files" id="claimCustomerDocs" />
        <br /><br />
        <div class="col-md-12" style="padding-left:0px">
            <div class="col-md-8" style="padding-left:0px">
                <div class="input-group">
                    <input type="text" class="form-control" id="CustomerDocssearchTxt" placeholder="Search file name" />
                    <span class="input-group-addon pointer" id="btnCustomerDocsSearchtext" data-toggle="modal"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-md-4" style="padding-right:0px">

            </div>
        </div>
        <br /><br /><br />
        <div id="gridCustomerDocs"></div>



    </div>
</div>

<script>

    $(function () {

        $("#claimCustomerDocs").kendoUpload({
            async: {
                saveUrl: '@Url.Action("UploadCustomerDoc", "ClaimDetailTabs")',
                //removeUrl: '@Url.Action("", "ClaimDetailTabs")',
                autoUpload: false
            },
            upload: function (e) {
                e.data = { claimId: $("#H_Claimsid").val(), userId: '@userObj.UserId' };
            },
            complete: onCompleteDocUpload
        });


        $("#gridCustomerDocs").kendoGrid({

            dataSource: {
                transport: {
                    //read: "/ClaimDetailTabs/AjaxAttachmentsLoad?claimId=" + $("#H_Claimsid").val() + "&searchText=" + $("#AttachmentsearchTxt").val(),
                    read: "/ClaimDetailTabs/AjaxCustomerDocsLoad?claimId=" + $("#H_Claimsid").val(),
                },
                pageSize: 100,
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                },
                batch: false,
            },
            filterable: true,
            pageSize: 100,
            navigatable: true,
            pageable: true,
            sortable: true,
            columns: [

                {
                    field: "AttachmentDescription",
                    title: "Attachment Name",
                    template: "<a href='/ClaimDetailTabs/FileDownload?fileName=#=AttachmentName#'>#= AttachmentDescription #</a>"
                },
                {
                    field: "UploadedUser",
                    title: "User"
                },
                {
                    field: "LastUpdated",
                    title: "Last Updated",
                    template: '#= kendo.toString(kendo.parseDate(LastUpdated), "dd/MM/yyyy")#'
                },
                {
                    field: "SizeInKb",
                    title: "Size"
                }
            ]
        });

        $("#btnCustomerDocsSearchtext").click(function () {

            //$("#gridAttachments").data("kendoGrid").dataSource.read();
            $("#gridCustomerDocs").data("kendoGrid").dataSource.read({ CustomerDocssearchTxt: $("#CustomerDocssearchTxt").val() });

        });

    });

    function onCompleteDocUpload()
    {
        $("#gridCustomerDocs").data("kendoGrid").dataSource.read({ CustomerDocssearchTxt: $("#CustomerDocssearchTxt").val() });
    }

    function DownloadFile(fileName) {
      window.location.href = '/ClaimDetailTabs/FileDownload?fileName=' + fileName;
    }

</script>

