

<script src="~/Content/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Content/vendor/datatables-colvis/js/dataTables.colVis.js"></script>
<script src="~/Content/vendor/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Content/vendor/datatables-buttons/js/dataTables.buttons.js"></script>
<script src="~/Content/vendor/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="~/Content/vendor/datatables-responsive/js/responsive.bootstrap.js"></script>
@*<link href="~/Content/vendor/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" />*@

<style>
    table.dataTable thead .sorting {
        background: url('/Content/vendor/datatables/media/images/sort_both.png') no-repeat center right;
    }

    table.dataTable thead .sorting_asc {
        background: url('/Content/vendor/datatables/media/images/sort_asc.png') no-repeat center right;
    }

    table.dataTable thead .sorting_desc {
        background: url('/Content/vendor/datatables/media/images/sort_desc.png') no-repeat center right;
    }

    table.dataTable thead .sorting_asc_disabled {
        background: url('/Content/vendor/datatables/media/images/sort_asc_disabled.png') no-repeat center right;
    }

    table.dataTable thead .sorting_desc_disabled {
        background: url('/Content/vendor/datatables/media/images/sort_asc_disabled.png') no-repeat center right;
    }

    .dataTables_filter {
        margin-top: 10px !important;
    }
</style>

<div class="panel panel-default">

    <div class="table-responsive">
        <table id="tbOc" class="table table-striped" style="margin-bottom: 10px;">
            <thead>
                <tr>
                    <th class="sort-alpha">OC #</th>
                    <th class="sort-alpha">PolicyNumber</th>
                    <th class="sort-alpha">Address</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        //$("#tbOc").hide();

           $('#tbOc').dataTable({
            "bServerSide": true,
            "searching": true,
            "sAjaxSource": "/Lookup/OcAjaxHandler",
            "paging": false,
            "bProcessing": false,
            "bsearch": false,
            'info':false,
            "aoColumns": [
            
                {
                    "sName": "OCNum",
                    "sClass": "center",
                    "mRender": function (data, type, oObj) {
                        return '<a href="javascript:void(0);" onclick="closeOcModal(\'' + oObj[0] + '\',\'' + oObj[1] + '\',\'' + oObj[3] + '\',\'' + oObj[4] + '\',\'' + oObj[5] +
                            '\',\'' + oObj[6] + '\',\'' + oObj[7] + '\',\'' + oObj[8] + '\',\'' + oObj[9] + '\',\'' + oObj[10] + '\',\'' + oObj[11] +
                            '\',\'' + oObj[12] + '\',\'' + oObj[13] + '\',\'' + oObj[14] + '\',\'' + oObj[15] + '\')">' + oObj[0] + '</a >';

                        //return "<a  onclick='closeOcModal(this);' href='#/'  return false;>" + oObj[1]+"</a>";
                    }
                },
                { "sName": "PolicyNumber" },
                { "sName": "Address" }
            ]
        });

           $('#tbOc').on('search.dt', function () {
               //var value = $('.dataTables_filter input').val();
               //console.log(value); // <-- the value
               $("#tbOc").show();
           });

    });


    function closeOcModal(ocNum,policyNo,account,accountId,insuredName,insurer,insurerName,address1,address2,suburb,state,postcode,policyClass,policyId,accountManagerCode) {
        debugger;
        $("#Oc_No").val(ocNum);
        $("#Oc_Name").val(ocNum);

        if ($("#Oc_Num")) {

            $("#Oc_Num").val(ocNum);
        }
        
        if ($("#Policy_No")) {

            $("#Policy_No").val(policyNo);
        }

        if ($("#Account_Name")) {

            $("#Account_Name").val(account);
        }

        if ($("#Accountid")) {

            $("#Accountid").val(accountId);
        }

        if ($("#Insured_Name")) {

            $("#Insured_Name").val(insuredName);
        }

        if ($("#InsurerName")) {

            $("#InsurerName").val(insurerName);
        }

        if ($("#Insurer_Name")) {

            $("#Insurer_Name").val(insurerName);
        }

        if ($("#Insurer")) {

            $("#Insurer").val(insurer);
        }

        if ($("#Property_Address_1")) {

            $("#Property_Address_1").val(address1);
        }

        if ($("#Property_Address_2")) {

            $("#Property_Address_2").val(address2);
        }

        if ($("#Property_State")) {

            $("#Property_State").val(state);
        }

        if ($("#Property_Suburb")) {

            $("#Property_Suburb").val(suburb);
        }

        if ($("#Property_Postalcode")) {

            $("#Property_Postalcode").val(postcode);
        }

        if ($("#Policy_Class")) {

            $("#Policy_Class").val(policyClass);
        }

        if ($("#Policy_Id")) {

            $("#Policy_Id").val(policyId);
        }

        if ($("#Account_Manager_Property")) {

            $("#Account_Manager_Property").val(accountManagerCode);
        }

        $('#OcModal').modal('hide');
    }

</script>