.validation-summary-errors ul {
    list-style: none;
    margin-left: -40px 
}


#exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

#exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
   
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

.tabstyle {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    width: auto;
}

.top-padding {
    padding-top: 5px;
}

.top-padding-eight {
    padding-top: 8px;
}

.margin-top-bottom-fourteen {
    margin-top: 14px;
    margin-bottom: 14px;
}
.margin-bottom-zero {
    margin-bottom: 0px;
}

.no-right-padding {
    padding-right: 0px;
}

.input-validation-error {
    border-color: #f05050 !important;
}

.alertError {
    border: 1px solid red !important;
}

.disabledControl {
    background-color: lightgray;
}

.tabm {
    margin-bottom:5px;
}

.hmb{
    margin-bottom:5px!important;
}


.left-menu-item {
    cursor: default !important;
}

.left-menu-item:hover{
    cursor: default !important;
}

/*.tooltip {
    position: relative;
    opacity: 0;
    padding: 10px;
    background: #9B59B6;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

a:hover span {
    opacity: 1;
}*/

/*.nav > li {
    cursor: default !important;
}

    .nav > li > a {
        cursor: default !important;
    }

.nav > li > a:hover,
.nav > li > a:focus {
    cursor: default !important;
}*/