

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">

                    <div class="col-sm-5">
                        <label class="radio-inline c-radio">
                            <input id="rdoViewAll" type="radio" name="i-radio" checked>
                            <span class="fa fa-circle"></span>View All
                        </label>
                        <label class="radio-inline c-radio">
                            <input id="rdoIncomplete" type="radio" name="i-radio" value="false">
                            <span class="fa fa-circle"></span>Incomplete Only
                        </label>
                        <label class="radio-inline c-radio">
                            <input id="rdoCompleted" type="radio" name="i-radio" value="false">
                            <span class="fa fa-circle"></span>Completed Only
                        </label>

                        <label class="checkbox c-checkbox pull-right mt0" style="font-weight:500">
                            <input type="checkbox" value="false" id="chkShowOverdue">
                            <span class="fa fa-check"></span> High Priority
                        </label>
                    </div>
                    <div class="col-sm-2" style="width:12%;">
                        <label class="control-label" style="font-weight:500">Filter by Owner:</label>
                    </div>
                    <div class="col-sm-2">
                        @Html.DropDownList("OwnerType_ActivityTask", new SelectList(ViewBag.OwnerType, "Text", "Text"), "", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-1">
                        <input type="button" id="btnActivityTasksFilter" class="btn btn-primary" value="Filter List" />
                    </div>
                    <div class="col-sm-2">
                        <input type="button" class="btn btn-default" id="btnActivityTasksAddNew" value="Add New" />
                    </div>

                </div>
            </div>

            <br /><br /><br />

        </div>

    </div>

</div>

<div id="gridActivityTasks"></div>


<!-- Modal -->
<div id="ActivityTasksDetailModal" class="modal fade ActivityTasksDetailModal" role="dialog" data-backdrop="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Activity Tasks Detail</h4>
            </div>
            <div class="modal-body PaymentDetail_">
                @{Html.RenderAction("_ActivityTaskDetail", "ClaimDetailTabs", new { claimId = this.ViewData["claimId"] });}

            </div>

        </div>
    </div>
</div>

<script>

    //string claimId, string payeeId, string invoicedDate, string status, string invoiceNo
    $(function () {



        $("#gridActivityTasks").kendoGrid({

            dataSource: {
                transport: {
                    read: "/ClaimDetailTabs/AjaxActivityTasksLoad?claimId=" + $("#H_Claimsid").val(),
                },
                pageSize: 100,
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                },
                batch: false,
            },
            filterable: true,
            pageSize: 100,
            navigatable: true,
            pageable: true,
            sortable: true,
            //dataBound: onPaymentDataBound,
            columns: [

                {
                    field: "Seq_Act",
                    title: "Seq"
                },
                {
                    field: "Stage_Act",
                    title: "Stage"
                },
                {
                    field: "Action_Act",
                    title: "Action"
                },
                {
                    field: "Owner_Act",
                    title: "Owner"
                },
                {
                    field: "Contact_Act",
                    title: "Contact"
                },
                {
                    field: "SLADays_Act",
                    title: "SLA (Days)"
                },
                {
                    field: "DueDate_Act",
                    title: "Due Date",
                    template: "#= (DueDate_Act == null) ? '': kendo.toString(kendo.parseDate(DueDate_Act), 'dd/MM/yyyy') #"
                },
                {
                    field: "Skipped_Act",
                    title: "Skipped"
                },
                {
                    field: "Complete_Act",
                    title: "Completed",
                    template: "#if(Complete_Act==true){ #Yes# } else { #No# }#"
                },
                {
                    field: "CompletedDate_Act",
                    title: "Completed Date",
                    //template: '#= kendo.toString(kendo.parseDate(CompletedDate_Act), "dd/MM/yyyy")#',
                    template: "#= (CompletedDate_Act == null) ? '': kendo.toString(kendo.parseDate(CompletedDate_Act), 'dd/MM/yyyy') #"
                }
            ]
        });

        $("#btnActivityTasksFilter").click(function () {

            RefreshActivityTasksGrid();

        });
    });

    function RefreshActivityTasksGrid() {

        var viewAll, incompleteOnly, completedOnly, showOverDue, owner;

        viewAll = $("#rdoViewAll").is(':checked');
        incompleteOnly = $("#rdoIncomplete").is(':checked');
        completedOnly = $("#rdoCompleted").is(':checked');
        showOverDue = $("#chkShowOverdue").is(':checked');
        owner = $("#OwnerType_ActivityTask").val();

        $("#gridActivityTasks").data("kendoGrid").dataSource.read({
            incompleteOnly: incompleteOnly, completedOnly: completedOnly, showOverDue: showOverDue, owner: owner
        });
    }

</script>