
<script src="~/Content/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Content/vendor/datatables-colvis/js/dataTables.colVis.js"></script>
<script src="~/Content/vendor/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Content/vendor/datatables-buttons/js/dataTables.buttons.js"></script>
<script src="~/Content/vendor/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="~/Content/vendor/datatables-responsive/js/responsive.bootstrap.js"></script>
@*<link href="~/Content/vendor/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" />*@

<style>
    table.dataTable thead .sorting {
        background: url('/Content/vendor/datatables/media/images/sort_both.png') no-repeat center right;
    }

    table.dataTable thead .sorting_asc {
        background: url('/Content/vendor/datatables/media/images/sort_asc.png') no-repeat center right;
    }

    table.dataTable thead .sorting_desc {
        background: url('/Content/vendor/datatables/media/images/sort_desc.png') no-repeat center right;
    }

    table.dataTable thead .sorting_asc_disabled {
        background: url('/Content/vendor/datatables/media/images/sort_asc_disabled.png') no-repeat center right;
    }

    table.dataTable thead .sorting_desc_disabled {
        background: url('/Content/vendor/datatables/media/images/sort_asc_disabled.png') no-repeat center right;
    }

    .dataTables_filter {
        margin-top: 10px !important;
    }
</style>

<div class="panel panel-default">

    <div class="table-responsive">
        <table id="tbClaimRefs" class="table table-striped" style="margin-bottom: 10px;">
            <thead>
                <tr>
                    <th class="sort-alpha">Claim Reference Number</th>
                    <th class="sort-alpha">Claim Reference Number</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#tbClaimRefs").hide();

        $('#tbClaimRefs').dataTable({

            "bServerSide": true,
            "searching": true,
            "sAjaxSource": "/ClaimDetailTabs/AjaxGetAssignedClaimNosLookUp",
            "paging": false,
            "bProcessing": false,
            "bsearch": false,
            'info': false,
            "scrollY": '40vh',
            "fnServerParams": function (aoData) {

                aoData.push({ 'name': 'claimNo', 'value': $('.dataTables_filter input').val() });

            },
            "aoColumns": [

                { "sName": "Code", "visible": false },
                {
                    "sName": "Text",
                    "sClass": "center",
                    "mRender": function (data, type, oObj) {
                        return '<a href="javascript:void(0);" onclick="closeClaimRefLookup(\'' + oObj[0] + '\', \'' + oObj[1] + '\')">' + oObj[1] + '</a >';
                        //return "<a  onclick='closeOcModal(this);' href='#/'  return false;>" + oObj[1]+"</a>";
                    }
                }
            ]
        });

        $('#tbClaimRefs').on('search.dt', function () {
               //var value = $('.dataTables_filter input').val();
               //console.log(value); // <-- the value
            $("#tbClaimRefs").show();
           });

    });


    function closeClaimRefLookup(claimId, claimRef) {


        if (window.location.href.indexOf("NewRecord/NewPayment") > -1) {

            if ($("#ClaimRefNo_Payment").length > 0 && $("#H_Claimsid").length > 0) {

                $("#ClaimRefNo_Payment").val('');
                $("#H_Claimsid").val('');

                $("#ClaimRefNo_Payment").val(claimRef);
                $("#H_Claimsid").val(claimId);

                $.ajax({

                    url: "/Billing/TeamGetCustomerForClaim?Claimsid=" + claimId,// $("#H_Claimsid").val(),
                    success: function (data) {

                        $('#Payee_Account_Name').val('');
                        $("#Payee_Account").val('');

                        $('#Payee_Account_Name').val(data.Text);
                        $("#Payee_Account").val(data.Code);                                                
                        
                    }
                });

            }
            
        }


        if (window.location.href.indexOf("NewRecord/NewTimeslipDetail") > -1) {

            if ($("#Claim_No_New").length > 0 && $("#H_Claimsid_Billing_New").length > 0) {

                $("#Claim_No_New").val('');
                $("#H_Claimsid_Billing_New").val('');
                $('#Client_Name_New').val('');
                $("#ClientId_New").val('');
                $("#Rate_New").val('');
                $("#Rate_Per_Unit_New").val('');
                $('#Policyid_Billing_New').val('');
                $("#Policy_Name_Billing_New").val('');


                $("#Claim_No_New").val(claimRef);
                $("#H_Claimsid_Billing_New").val(claimId);

                $.ajax({

                    url: "/Billing/TeamGetCustomerForClaim?Claimsid=" + claimId,// $("#H_Claimsid").val(),
                    success: function (data) {

                       
                        $('#Client_Name_New').val(data.Text);
                        $("#ClientId_New").val(data.Code);

                        if (data.Order != null) {
                            var RatePHR = data.Order;
                            var RatePUNIT = (RatePHR / (60 * 6));
                                                       

                            $("#Rate_New").val(data.Order);
                            $("#Rate_Per_Unit_New").val(RatePUNIT.toFixed(2));
                        }

                        $.ajax({
                            url: "/Billing/TeamGetPolicyNoForClaim?Claimsid=" + claimId,
                            success: function (result) {

                                
                                $('#Policyid_Billing_New').val(result[0].Code);
                                $("#Policy_Name_Billing_New").val(result[0].Text);
                            }
                        });

                    }
                });

            }

        }

        if (window.location.href.indexOf("NewRecord/NewKeyDate") > -1) {

            if ($("#H_ClaimNo_KCD_Date").length > 0 && $("#H_Claimsid_KCD_Date").length > 0) {

                $("#H_ClaimNo_KCD_Date").val('');
                $("#H_Claimsid_KCD_Date").val('');

                $("#H_ClaimNo_KCD_Date").val(claimRef);
                $("#H_Claimsid_KCD_Date").val(claimId);

                setMaxSequence(claimId);

            }
        }


        $('#ClaimReferenceNumbersModal').modal('toggle');
    }

</script>