
@{ var userObj = Session[HonanClaimsPortal.Helpers.SessionHelper.claimTeamLogin] as HonanClaimsWebApiAccess1.LoginServices.ClaimTeamLoginModel; }


<div class="panel panel-default">

    <div class="panel-body">

        <table class="table table-hover mb-mails">
            <tbody id="emailTbody">
                <!-- ngRepeat: mail in mails | filter:folder-->
                @*<tr>
                <td>
                    <div class="mb-mail-date pull-right">10 minutes ago</div>
                    <div class="mb-mail-meta">
                        <div class="pull-left">
                            <div class="mb-mail-subject">Admin web application</div>
                            <div class="mb-mail-from">Evelyn Holmes</div>
                        </div>
                        <div class="mb-mail-preview">Fusce gravida, diam ac adipiscing pretium, sem nibh bibendum diam, non consequat quam metus non nunc</div>
                    </div>
                </td>
            </tr>*@

            
            </tbody>
        </table>

    </div>
</div>

<script>

    $(document).ready(function () {
        $.ajax({
            url: "/Email/GetClaimEmails?claimId=" + $("#H_Claimsid").val(), success: function (result) {

                debugger;
                $.each(result, function (i, item) {

                    var id = "'" + item["H_ClaimEmailsId"] + "'";
                     
                    $('#emailTbody').append(' <tr onclick="openEmail(' + id + ')"><td class="text-center"><em class="fa fa-lg fa-envelope-o text-muted"></em></td>' +
                        '<td><div class="mb-mail-date pull-right">' + item["CreateDate"] + '</div><div class="mb-mail-meta"><div class="pull-left">' +
                        '<div class="mb-mail-subject">' + item["Subject"] + '</div><div class="mb-mail-from">' + item["FromEmail"] +
                        '</div></div><div class="mb-mail-preview">' + item["EmailBody"] + '</div></div></td></tr>');

                });
            }
        });
    });

    function openEmail(emailId) {
        window.open("/Email/EmailWindow?emailId=" + emailId, "New Window", "height=710,width=1000");
    }

</script>
