
<style>
    .PaymentDetail_{

        max-height: 90vh;
}
</style>

<div class="panel panel-default">

    <div class="panel-body">

        <div class="col-md-12" style="padding-left:0px">
            <div class="col-md-12" style="padding-left:0px">
                <div class="col-md-8">
                    <div class="input-group">

                    </div>
                </div>
                <div class="col-md-4">
                    <input type="button" value="New Payment" id="btnNewPayment" class="btn btn-primary pull-right" data-toggle="modal" data-target="#PaymentDetailModal" />
                </div>


            </div>
        </div>
        <br /><br /><br />
        <div id="gridPaymentDetails"></div>

    </div>
</div>

<!-- Modal -->
<div id="PaymentDetailModal" class="modal fade PaymentDetailModal" role="dialog" data-backdrop="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Payment Detail</h4>
            </div>
            <div class="modal-body PaymentDetail_">
                @{Html.RenderAction("_PaymentDetail", "ClaimDetailTabs", new { claimId = this.ViewData["claimId"], Claim_Reference_Num = this.ViewData["Claim_Reference_Num"] });}

            </div>
           
        </div>
    </div>
</div>

<script>

    function RefreshPaymentDetailsGrid() {
        $("#gridPaymentDetails").data("kendoGrid").dataSource.read({
            payeeId: '', invoicedDate: '', status: '', invoiceNo: ''
        });
    }
    //string claimId, string payeeId, string invoicedDate, string status, string invoiceNo
    $(function () {

        $("#IsNew").val("true");

        $("#gridPaymentDetails").kendoGrid({

            dataSource: {
                transport: {
                    //read: "/ClaimDetailTabs/AjaxAttachmentsLoad?claimId=" + $("#H_Claimsid").val() + "&searchText=" + $("#AttachmentsearchTxt").val(),
                    read: "/ClaimDetailTabs/AjaxPaymentDetailsLoad?claimId=" + $("#H_Claimsid").val(),
                },
                pageSize: 100,
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                },
                batch: false,
            },
            filterable: true,
            pageSize: 100,
            navigatable: true,
            pageable: true,
            sortable: true,
            columns: [

                {
                    field: "Date_Invoice_Received",
                    title: "Date Received",
                    template: "<a  href='javascript:void(0);' onclick=\"loadPaymentDetail('#= H_Paymentsid #')\" '>#=Date_Invoice_Received#</a>"
                },
                {
                    field: "Invoice_Reference",
                    title: "Invoice Ref"
                },
                {
                    field: "Payee",
                    title: "Payee"
                },
                {
                    field: "Total_Gross",
                    title: "Total Gross"
                },
                {
                    field: "Total_Net",
                    title: "Total Net"
                },
                {
                    field: "Payment_Status",
                    title: "Payment Status"
                }
            ]
        });
    });


    function loadPaymentDetail(paymentId)
    {
        $.ajax({
            url: "/ClaimDetailTabs/getPaymentById?paymentId=" + paymentId, success: function (result) {

                //$("#ClaimRefNo_Payment").val(result.ClaimRefNo_Payment);
                $("#Payee_Account").val(result.Payee_Account);
                $("#Payee_Contact").val(result.Payee_Contact);
                $("#Payment_To").val(result.Payment_To);
                $("#Sent_To_Contact").val(result.Sent_To_Contact);
                $("#Invoice_Attached").val(result.Invoice_Attached);
                $("#H_Claimsid").val(result.H_Claimsid);
                $("#IsNew").val("false");
                $("#Reserve_Type").val(result.Reserve_Type);
                $("#Date_Invoice_Received").val(kendo.toString(kendo.parseDate(result.Date_Invoice_Received), "dd/MM/yyyy"));
                $("#Invoice_Reference").val(result.Invoice_Reference);
                $('#paymentDetailAttachmentName').text(result.Invoice_Attached);
                $("#Payee_Type").val(result.Payee_Type);
                $("#Payee_Account_Name").val(result.Payee_Account_Name);
                $("#Payee_Contact_Name").val(result.Payee_Contact_Name);
                $("#Total_Gross").val(result.Total_Gross);
                $("#Gst_Included").val(result.Gst_Included);
                $("#Gst").val(result.Gst);
                $("#Total_Net").val(result.Total_Net);
                $("#Date_Sent_For_Payment").val(kendo.toString(kendo.parseDate(result.Date_Sent_For_Payment), "dd/MM/yyyy"));
                $("#Payment_To_Name").val(result.Payment_To_Name);
                $("#Sent_To_Contact_Name").val(result.Sent_To_Contact_Name);
                $('#payment_phone').val(result.Phone);
                $("#payment_email").val(result.Email);
                $("#Payment_Status").val(result.Payment_Status);
                $("#Date_Invoice_Paid").val(kendo.toString(kendo.parseDate(result.Date_Invoice_Paid), "dd/MM/yyyy"));
                $("#Payment_Type").val(result.Payment_Type);
                $("#Payment_Method").val(result.Payment_Method);
                $("#Is_Settlement").val(result.Is_Settlement);
                $("#Payment_Amount").val(result.Payment_Amount);
                $("#Payment_Note").val(result.Payment_Note);

                $('#PaymentDetailModal').modal('show');
            }
        });
    }

    function clearControls()
    {
        $("#Payee_Account").val("");
        $("#Payee_Contact").val("");
        $("#Payment_To").val("");
        $("#Sent_To_Contact").val("");
        $("#Invoice_Attached").val("");
        //$("#H_Claimsid").val(result.H_Claimsid);
        $("#IsNew").val("true");
        //$("#ClaimRefNo_Payment").val(result.ClaimRefNo_Payment);
        $("#Reserve_Type").val("");
        $("#Date_Invoice_Received").val("");
        $("#Invoice_Reference").val("");
        $('#paymentDetailAttachmentName').text("");
        $("#Payee_Type").val("");
        $("#Payee_Account_Name").val("");
        $("#Payee_Contact_Name").val("");
        $("#Total_Gross").val("");
        $("#Gst_Included").val(true);
        $("#Gst").val("");
        $("#Total_Net").val("");
        $("#Date_Sent_For_Payment").val("");
        $("#Payment_To_Name").val("");
        $("#Sent_To_Contact_Name").val("");
        $('#payment_phone').val("");
        $("#payment_email").val("");
        $("#Payment_Status").val("");
        $("#Date_Invoice_Paid").val("");
        $("#Payment_Type").val("");
        $("#Payment_Method").val("");
        $("#Is_Settlement").val(false);
        $("#Payment_Amount").val("");
        $("#Payment_Note").val("");
    }

</script>