
<span>Please increase the Liability Reserve to cater for this settlement amount.</span>

<div class="col-md-12 col-sm-12">
    <div class="form-group mb">
        <label class="col-sm-4 control-label input-sm">Settlement Amount $</label>
        <div class="col-sm-8">
            <input type="number" id="txtSettlementAmount_pymt" readonly class="form-control input-sm disabled" />
        </div>
    </div>
</div>


<div class="col-md-12 col-sm-12">
    <div class="form-group mb">
        <label class="col-sm-4 control-label input-sm">Liability Res. Source $</label>
        <div class="col-sm-8">
            <input type="number" id="txtLiabilityResSource_pymt" class="form-control input-sm" />
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12">
    <div class="form-group mb">
        <label class="col-sm-4 control-label input-sm">Liability Res. Balance $</label>
        <div class="col-sm-8">
            <input type="number" id="txtLiability_pymt" class="form-control input-sm disabled" readonly />
        </div>
    </div>
</div>

<div style="margin-right:6%">
    <button type="button" id="btnUpdateLiabilityFromPayment" class="btn btn-default pull-right">Ok</button>
</div>

<script>
    $(function () {


        $("#btnUpdateLiabilityFromPayment").click(function () {
            //$("#Liability_Reserve_Id").val($("#txtLiabilityResSource_pymt").val());
           
            $("#Liability_Res_Source").val($("#txtLiabilityResSource_pymt").val());

            if ($("#txtLiabilityResSource").length > 0) {
                $("#txtLiabilityResSource").val($("#txtLiabilityResSource_pymt").val())
            }

            CalculatePaymentFigures();
            $("#UpdateLiabilityReserveModal").modal("hide");

        });

    });
</script>