
@{
    ViewBag.Title = "Search Results";
}

<!-- DATATABLES-->
<script src="~/Content/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Content/vendor/datatables-colvis/js/dataTables.colVis.js"></script>
<script src="~/Content/vendor/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Content/vendor/datatables-buttons/js/dataTables.buttons.js"></script>
<script src="~/Content/vendor/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="~/Content/vendor/datatables-responsive/js/responsive.bootstrap.js"></script>
<script src="~/Scripts/notify.js"></script>

<script src="~/Scripts/loadingoverlay.min.js"></script>
<script src="~/Scripts/loadingoverlay_progress.min.js"></script>

<style>
    table.dataTable thead .sorting {
        background: url('/Content/vendor/datatables/media/images/sort_both.png') no-repeat center right;
    }

    table.dataTable thead .sorting_asc {
        background: url('/Content/vendor/datatables/media/images/sort_asc.png') no-repeat center right;
    }

    table.dataTable thead .sorting_desc {
        background: url('/Content/vendor/datatables/media/images/sort_desc.png') no-repeat center right;
    }

    table.dataTable thead .sorting_asc_disabled {
        background: url('/Content/vendor/datatables/media/images/sort_asc_disabled.png') no-repeat center right;
    }

    table.dataTable thead .sorting_desc_disabled {
        background: url('/Content/vendor/datatables/media/images/sort_asc_disabled.png') no-repeat center right;
    }
</style>

<div class="content-wrapper" style="padding-top:5px">

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">

                    @{
                        var searchField = TempData["SearchField"];
                        var tempval = TempData["SearchValue"];
                    }

                    @if (searchField.ToString() == "Search All" || searchField.ToString() == "Claims")
                    {
                        <h4 class="hmb">Claims</h4>
                        <div class="row">
                            <div id="claimGrid"></div>
                        </div>
                    }

                    @if (searchField.ToString() == "Search All" || searchField.ToString() == "Policies")
                    {
                        <h4 class="hmb top-padding-eight">Policies</h4>
                        <div class="row">
                            <div id="policyGrid"></div>
                        </div>
                    }

                    @if (searchField.ToString() == "Search All" || searchField.ToString() == "Accounts")
                    {
                        <h4 class="hmb top-padding-eight">Accounts</h4>
                        <div class="row">
                            <div id="accountGrid"></div>
                        </div>
                    }

                    @if (searchField.ToString() == "Search All" || searchField.ToString() == "Contacts")
                    {
                        <h4 class="hmb top-padding-eight">Contacts</h4>
                        <div class="row">
                            <div id="contactGrid"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        //$.LoadingOverlay("show");

        @if (searchField.ToString() == "Search All" || searchField.ToString() == "Claims")
        {
            <text>
                LoadClaimGrid();
            </text>
         }

         @if (searchField.ToString() == "Search All" || searchField.ToString() == "Policies")
        {
            <text>
                loadPolicy();
            </text>
         }

        @if (searchField.ToString() == "Search All" || searchField.ToString() == "Accounts")
        {
            <text>
                loadAccounts();
            </text>
         }

        @if (searchField.ToString() == "Search All" || searchField.ToString() == "Contacts")
        {
            <text>
                loadContacts();
            </text>
         }


    });


    function LoadClaimGrid() {
        $.LoadingOverlay("show");
            var searchText = "";
            var customerId = "";
            var onlyMyClaim = true;
            var Openclaim = true;
            var ClaimType = "All";
            //get search text
            var s = "@tempval";
            if (s != null && s != "")
            { searchText = s }
            //get customer
            var c = "";
            if (c != null && c != "")
            { customerId = c }
            //get all claims or my
            onlyMyClaim = true;
            //get open claims
            Openclaim = true;
            //get claim type
            ClaimType = "";

            $("#claimGrid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/ClaimList/GetClaimList?myclaimsOnly=" + onlyMyClaim + "&isopenClaim=" + Openclaim + "&claimType=" + ClaimType + "&searchText=" + searchText + "&cutomerId=" + customerId,

                    },
                    change: function () {
                        $.LoadingOverlay("hide");
                    },
                    error: function (e) {
                        $.LoadingOverlay("hide");
                    },
                    pageSize: 10
                },
                sortable: true,
                filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    hidden: true,
                    field: "ClaimsId",
                    title: "ClaimsId"
                },
                {
                    field: "ClaimRefNo",
                    title: "Claims Ref #",
                    template: '<a href="/NewClaim/RedirectToDetail?claimId=#=ClaimsId#&claimTeam=#=ClaimTeam#&tab=detail">#=ClaimRefNo#</a>'
                },
                {
                    field: "DateOfLoss",
                    title: "Date of Loss",
                    template: "#= (DateOfLoss == null) ? '': kendo.toString(kendo.parseDate(DateOfLoss), 'dd/MM/yyyy') #",
                    format: "{0:dd/MM/yyyy}",
                }, {
                    field: "Contact",
                    title: "Contact",
                }, {
                    field: "ClaimStage",
                    title: "Claim Stage",
                },
                {
                    field: "Status",
                    title: "Status",
                },
                {
                    field: "ClaimType",
                    title: "Type",
                }
                ]
            });
    }


                function loadPolicy() {
                    $.LoadingOverlay("show");
        var IsActive = true;
        var PolicyNumber = "@tempval";
        var Associate = "";
        var Customer = "" ;
        var Underwriter = "";
        var PolicyType = "";
        var PolicyClass = "";

        $("#policyGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/Policies/GetPolicyList?IsActive=" + IsActive + "&PolicyNumber=" + PolicyNumber + "&Associate=" + Associate + "&Customer=" + Customer + "&Underwriter=" + Underwriter + "&PolicyType=" + PolicyType + "&PolicyClass=" + PolicyClass
                },
                change: function () {
                    $.LoadingOverlay("hide");
                },
                error: function (e) {
                    $.LoadingOverlay("hide");
                },
                pageSize: 10
            },
            filterable: true,
            pageSize: 10,
            navigatable: true,
            pageable: true,
            sortable: true,
            columns: [
                {
                    field: "PolicyNo",
                    title: "Policy Number",
                    template: "<a href='/Policies/PoliciesDetail?PolicyId=#= PolicyId #'>#= PolicyNo #</a>",
                },
                {
                    field: "Customer",
                    template: "<a href='/AccountList/AccountDetail?AccountId=#= CustomerId #'>#= Customer #</a>",
                },

                {
                    field: "InceptionDate",
                    template: "#if(InceptionDate === null){#  #}else{# #= kendo.toString(kendo.parseDate(InceptionDate), 'dd-MM-yyyy') #  #}#"
                },
                {
                    field: "ExpiryDate",
                    template: "#if(ExpiryDate === null){#  #}else{# #= kendo.toString(kendo.parseDate(ExpiryDate), 'dd-MM-yyyy') #  #}#"
                },
                {
                    title: "Associate",
                    template: "<a href='/AccountList/AccountDetail?AccountId=#= CustomerId #'>#= Associate #</a>",
                },
                {
                    field: "Underwriter",
                    title: "Underwriter",
                },
                {
                    field: "PolicyStatus",
                    title: "Policy Status",
                },
            ]
        });
    }

    function loadAccounts() {
        $.LoadingOverlay("show");
        var AccountName = "@tempval";
        var Type = "";

        $("#accountGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/AccountList/GetAccounts?AccountName=" + AccountName + "&Type=" + Type
                },
                change: function () {
                    $.LoadingOverlay("hide");
                },
                error: function (e) {
                    $.LoadingOverlay("hide");
                },
                pageSize: 10
            },
            filterable: true,
            pageSize: 10,
            navigatable: true,
            pageable: true,
            sortable: true,
            columns: [
                {
                    field: "Account",
                    title: "Account",
                    template: "<a href='/AccountList/AccountDetail?AccountId=#= AccountId #'>#= Account #</a>",
                },
                {
                    field: "City",
                    title: "City",
                },

                {
                    field: "State",
                    title: "State",
                },
                {
                    field: "Type",
                    title: "Type",
                },
            ]
        });
    }


    function loadContacts() {
        $.LoadingOverlay("show");
        var AccountName = "";
        var ConatctName = "@tempval";

        $("#contactGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/Contact/GetContacts?AccountName=" + AccountName + "&ConatctName=" + ConatctName
                },
                change: function () {
                    $.LoadingOverlay("hide");
                },
                error: function (e) {
                    $.LoadingOverlay("hide");
                },
                pageSize: 10
            },
            filterable: true,
            pageSize: 10,
            navigatable: true,
            pageable: true,
            sortable: true,
            columns: [
                {
                    field: "ContactName",
                    title: "ContactName",
                    template: "<a href='/Contact/ContactDetail?ContactId=#= ContactId #'>#= ContactName #</a>",
                },
                {
                    field: "Account",
                    title: "Account",
                    template: "<a href='/AccountList/AccountDetail?AccountId=#= AccountId #'>#= Account #</a>",
                },

                {
                    field: "State",
                    title: "State",
                },
                {
                    field: "WorkPhone",
                    title: "WorkPhone",
                },
                {
                    field: "Mobile",
                    title: "Mobile",
                },
                {
                    field: "Email",
                    title: "Email",
                },
            ]
        });
    }

</script>
