@model HonanClaimsWebApi.Models.AccountList.AccountsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <h3>
        Accounts
    </h3>
    <div class="col-md-3 mb">
        <div class="row">
            <div class="form-group mb">
                <label class="col-sm-4 control-label input-sm">Account Name</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb">
        <div class="row">
            <div class="form-group mb">
                <label class="col-sm-4 control-label input-sm">Account Type</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.AccountType, new SelectList(Model.AccountType, "Code", "Text"), "--select--", new { @class = "form-control input-sm", @onchange = "comboChange()" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb">
        <div class="pull-right">
            <button id="clearFilter" type="button" class="btn btn-default mr-20" style="width:125px">Clear Filter</button>
            <button id="filterList" type="button" class="btn btn-primary" style="width:125px">Filter Accounts</button>
        </div>
    </div>

    <div class="col-md-12 top-padding-eight">
        <div id="grid"></div>
    </div>
</div>

<script>
    $("#clearFilter").click(function () {
        $("#AccountName").val('');
        $("#AccountType").val('');
        loadAccounts();
    });


    $("#filterList").click(function () {
        loadAccounts();
    });

    $(document).ready(function () {
        loadAccounts();
    });


    function loadAccounts() {

        var AccountName = null;
        var Type = null;

        AccountName = $("#AccountName").val();
        Type = $("#AccountType").val();

        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/AccountList/GetAccounts?AccountName=" + AccountName + "&Type=" + Type
                },
                pageSize: 20,
                schema: {
                    model: {
                        id: "AccountId",
                        fields: {
                            Account: { editable: false },
                            City: { editable: false },
                            State: { editable: false },
                            Type: { editable: false }
                        }
                    }
                }
            },
            filterable: true,
            //pageSize: 10,
            navigatable: true,
            pageable: {
                refresh: true,
                pageSizes: [10, 20, 50, 100],
                buttonCount: 10
            },
            height: 550,
            sortable: true,
            columns: [
                {
                    field: "Account",
                    title: "Account",
                    template: "<a href='/AccountList/AccountDetail?AccountId=#= AccountId #'>#= Account #</a>",
                },
                {
                    field: "City",
                    title: "City",
                },

                {
                    field: "State",
                    title: "State",
                },
                {
                    field: "Type",
                    title: "Type",
                },
            ]
        });
    }

</script>
