
@{
    ViewBag.Title = "ViewClaims";
}

<script src="~/Scripts/notify.js"></script>

@{
    var message = TempData["SuccessMsg"];
}

<div class="content-wrapper">
    <h3>
        View Notifications
    </h3>
  
    <div id="gridClaims"></div>

</div>

<script>

    $(function () {

        $("#gridClaims").kendoGrid({

            dataSource: {
                transport: {
                    read: "/ViewPages/AjaxNotificationsLoad/",
                },
                pageSize: 60,
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                },
                batch: false,
            },
            filterable: true,
            pageSize: 60,
            navigatable: true,
            pageable: true,
            height: 350,
            sortable: true,
            columns: [
                {
                    field: "ClaimId",
                    title: "Claim Id",
                    hidden: true
                },
                {
                    field: "ClaimRefNo",
                    title: "Claim Ref No"
                    //template: "<a href='#'>#= ClaimRefNo #</a>",
                },
                {
                    field: "ReportedDate",
                    title: "Reported Date"
                },
                {
                    field: "Category",
                    title: "Category"
                },
                {
                    field: "ClaimStage",
                    title: "ClaimStage"
                },
                {
                    field: "Claimant",
                    title: "Claimant"
                },
                {
                    field: "IncidentDate",
                    title: "Incident Date"
                },
                {
                    field: "IncidentTime",
                    title: "Incident Time"
                }
            ]
        });


    });

    var message = '@message';
    if (message) {
        $.notify(message, "success");
    }

</script>


